
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
}

#headerUp
{
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    text-decoration: none;
    font-family: 'calibri',sans-serif;
    background: #E44097;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-bottom: 17px;
}

#headerUp #logo
{
    color: #fff;
    font-size: 17px;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    height: 100%;
    display: flex;
    margin-top: 3px;
    margin-left: 13px;
}

#headerUp a
{
    text-decoration: none;
}

#search
{
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 3px;
}

#search #icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 1.5px solid #cacaca;
    border-top: 1.5px solid #cacaca;
    border-left: 1.5px solid #cacaca;
    border-bottom: 1.5px solid #cacaca;
    width: 33px;
    height: 27px;
    background: #fff;
    color: #cacaca;
    cursor: pointer;
}

#search #main-s
{
    width: 100%;
    display: flex;
    align-items: center;
    height: 27px;
    background: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 1.5px solid #cacaca;
    border-bottom: 1.5px solid #cacaca;
    border-right: 1.5px solid #cacaca;
    padding: 3px;
    color: #333;
}

section
{
    padding: 7px;
    font-family: 'calibri',sans-serif;
}

#upperContainer
{
    margin-top: 17px;
    height: 233px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#upperContainer #first
{
    height: 253px;
    width: 193px;
    background: #3b5;
    border-radius: 17px;
    color: #fff;
}

#upperContainer #second
{
    height: 253px;
    width: 193px;
    background: #0092CE;
    border-radius: 17px;
    color: #fff;
}

#upperContainer #third
{
    height: 253px;
    width: 193px;
    background: #FFC20F;
    border-radius: 17px;
    color: #fff;
}

#upperContainer #first h1
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 7px 0 0 0;
    font-family: 'poppins',sans-serif;
}

#upperContainer #second h1
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 7px 0 0 0;
    font-family: 'poppins',sans-serif;
}

#upperContainer #third h1
{
    width: 100%;
    text-align: center;
    padding: 7px 0 0 0;
    font-family: 'poppins',sans-serif;
}

#middleContainer
{
    margin-top: 27px;
    margin-left: 13px;
}

#middleContainer #main-list h1
{
    color: #5f5f5f;
}

#middleContainer #main-list h1, li
{
    font-family: 'poppins',sans-serif;
}

#middleContainer #main-list li
{
    color: #777;
    margin-left: 13px;
}